
@{
    ViewData["Title"] = "About";
}
<b>
    <div class="container">
        <h2><b>About</b></h2>
        <h4>
            E-Election Voting is the easiest way to improve voter engagement, save time, create a better voter experience, and guarantee election integrity.Elections is our first name and democracy is in our DNA. We are committed to your satisfaction
        </h4>
    </div>
</b>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>