@{
    ViewData["Title"] = "Privacy Policy";
}
<b>
    <div class="container">
        <h2><b>Privacy Policy</b></h2>
        <h4>
            Use this page to detail your site's privacy policy.
        </h4>
    </div>
</b>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
