<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/admin/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="/admin/css/adminlte.min.css">
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/admin/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        li a:hover {
            background-color: #5cb85c;
        }

        li form :hover {
            background-color: #5cb85c;
        }


        html {
            font-size: 14px;
        }

        .container {
            font-size: 14px;
            color: #666666;
            font-family: "Open Sans";
        }

        .card-custom {
            overflow: hidden;
            min-height: 450px;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
        }

        .card-custom-img {
            height: 200px;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-color: inherit;
        }

            .card-custom-img::after {
                position: absolute;
                content: '';
                top: 161px;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-top-width: 40px;
                border-right-width: 0;
                border-bottom-width: 0;
                border-left-width: 545px;
                border-left-width: calc(575px - 5vw);
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: inherit;
            }

        .card-custom-avatar img {
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
            position: absolute;
            top: 100px;
            left: 1.25rem;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <b>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-area="admin" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">User Site</a>
                    </li>
                </ul>
            </b>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-area="admin" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/images/Screenshot (280).png" alt="Election Commission" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-header">FORMS</li>
                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Candidate" asp-action="Candidate" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Add Candidate</p>
                            </a>
                        </li>*@ 
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Candidate Management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="admin" asp-controller="Candidate" asp-action="CandidateApiForm" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>Add New Candidate</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="admin" asp-controller="Candidate" asp-action="GetAllCandidateDataTable" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>All Candidates</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Election Management
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="admin" asp-controller="Registration" asp-action="Registration" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>Add New Election</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="admin" asp-controller="Registration" asp-action="GetAllElectionDataTable" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>All Elections</p>
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a asp-area="admin" asp-controller="Registration" asp-action="ViewResults" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>Election Results</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Registration" asp-action="ApiEntity" class="nav-link">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>Add Data</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="border-top footer main-footer text-muted text-center">
            <div class="container">
                <b>&copy; @DateTime.Now.Year Election Commission</b>    
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark"></aside>

    </div>
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/plugins/chart.js/Chart.min.js"></script>
    <script src="/admin/plugins/sparklines/sparkline.js"></script>
    <script src="/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="/admin/plugins/moment/moment.min.js"></script>
    <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/admin/js/adminlte.js"></script>
    <script src="/admin/js/pages/dashboard.js"></script>
    <script src="/admin/js/demo.js"></script>
</body>
</html>
