
@{
    ViewData["Title"] = "Add Candidate";
}
@model ElectionCandidateDataBO;

   
<div class="container">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Candidate Form</h3>
            </div>
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Done! </strong>New Candidate is added successfully. <br />
                    @*Click <a asp-controller="Book" asp-action="GetBook" asp-route-id=@ViewBag.BookId>here</a> to view the details*@
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <form method="post" asp-area="Admin" asp-controller="Candidate" asp-action="Candidate" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="NID"></label>
                            <input asp-for="NID" class="form-control" placeholder="NID">
                            <span asp-validation-for="NID" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="DateOfBirth"></label>
                            <input asp-for="DateOfBirth" class="form-control" placeholder="DOB">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="PdfListBOfiles"></label>
                            <input type="file" asp-for="PdfListBOfiles" class="form-control" multiple>
                            <span asp-validation-for="PdfListBOfiles" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Mobile"></label>
                            <input asp-for="Mobile" class="form-control" placeholder="Mobile">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="ImageFile"></label>
                            <input type="file" asp-for="ImageFile" class="form-control">
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" placeholder="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" placeholder="About">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Motto"></label>
                            <input asp-for="Motto" class="form-control" placeholder="Motto">
                            <span asp-validation-for="Motto" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LogoImageFile"></label>
                            <input type="file" asp-for="LogoImageFile" class="form-control">
                            <span asp-validation-for="LogoImageFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Candidate" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>


