
@{
    ViewData["Title"] = "Candidate";
}
@model ElectionCandidateData;
<div>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Candidate Form</h3>
            </div>
            <form method="post" asp-area="Admin" asp-controller="Candidate" asp-action="Candidate">

                <div class="form-group">
                    <label>Candidate Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>NID Number</label>
                    <input asp-for="NID" class="form-control" placeholder="NID">
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input asp-for="Mobile" class="form-control" placeholder="Mobile">
                </div>
                <div class="form-group">
                    <label>Fee</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input asp-for="Address" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Candidate" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

