
@{
    ViewData["Title"] = "VoterSms";
}

<h1>To vote you need to update your profile</h1>
<div class="btn-group col-md-2">
    <a asp-controller="Voter" asp-action="VoterApiForm" name="btnAddMore"><button class="btn btn-primary profile-button" type="button">Edit Profile</button></a>
</div>


