
@{
    ViewData["Title"] = "Voter";
}
@model ElectionVoterDataBO;
    <div>
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Voter Form</h3>
                </div>
                <form method="post" asp-area="Admin" asp-controller="Voter" asp-action="Voter">

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" placeholder="Date Of Birth">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NID"></label>
                        <input asp-for="NID" class="form-control" placeholder="NID">
                        <span asp-validation-for="NID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile"></label>
                        <input asp-for="Mobile" class="form-control" placeholder="Mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Voter" class="btn btn-primary" />
                    </div>
                </form>
            </div>            
        </div>
    </div>
