
@{
    ViewData["Title"] = "Voter";
}
@model ElectionVoterData;
    <div>
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Voter Form</h3>
                </div>
                <form method="post" asp-area="Admin" asp-controller="Voter" asp-action="Voter">

                    <div class="form-group">
                        <label>Voter Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" placeholder="Date Of Birth">
                    </div>
                    <div class="form-group">
                        <label>NID Number</label>
                        <input asp-for="NID" class="form-control" placeholder="NID">
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input asp-for="Mobile" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Voter" class="btn btn-primary" />
                    </div>
                </form>
            </div>            
        </div>
    </div>
