<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"]</title>

    <style>
        li a:hover {
            background-color: #5cb85c;
        }

        li form :hover {
            background-color: #5cb85c;
        }

        html {
            font-size: 14px;
        }

        .container {
            font-size: 14px;
            color: #666666;
            font-family: "Open Sans";
        }

        .card-custom {
            overflow: hidden;
            min-height: 450px;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
        }

        .card-custom-img {
            height: 200px;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-color: inherit;
        }

            .card-custom-img::after {
                position: absolute;
                content: '';
                top: 161px;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-top-width: 40px;
                border-right-width: 0;
                border-bottom-width: 0;
                border-left-width: 545px;
                border-left-width: calc(575px - 5vw);
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: inherit;
            }

        .card-custom-avatar img {
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
            position: absolute;
            top: 100px;
            left: 1.25rem;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body style="background-color: #B7BBCA;">
    <header>
        <b>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" style="background-color: #434B43;" width="500">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <font color="white">E-Election Voting</font></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1 ml-auto topnav">
                            <li class="nav-item active">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><font color="white">Home</font> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><font color="white">About</font></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><font color="white">Privacy</font></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </b>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer main-footer text-muted text-center">
        <div class="container">
            <font color="Black"><b>   &copy; @DateTime.Now.Year E-Election Voting</b></font>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>