
@{
    ViewData["Title"] = "Admin - Election Commission";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
        </div>
    </div>
</div>
<section class="jumbotron text-center">
    <div class="container">
        <img src="~/images/Screenshot (280).png" width="500" height="300"/>
    </div>
</section>
                        
